@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

.wrapper {
	min-height: 100%;
	overflow: hidden;
	padding: 20px;
}

.conteiner {
	max-width: 1020px;
	margin: 0 auto;
}

.header,
.footer {
	display: block;
	text-align: center;
	font-size: 60px;
	font-weight: 600;
	margin: 15px auto 25px;
	text-transform:uppercase;
}

.block {
	margin: 0px 0px 33px 0px;
}

.block__mark {
	height: 24px;
	vertical-align: middle;
}

.block__subtitle {
	display: inline-block;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 2.5px;
	color: #4B4B4B;
	font-weight: 700;
	text-transform: uppercase;
}

/* About */

.about {
	padding: 100px 87px 0px;
	background-color: #FFF;
}

.about__title,
.services__title {
	font-size: 36px;
	font-weight: 900;
	color: #02133C;
	line-height: 42px;
	max-width: 600px;
	margin: 0px 0px 36px 0px;
}

.about__description {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #4B4B4B;
	margin: 0px 0px 54px 0px;
}

.about__img {
	max-width: 846px;
	margin: 0px 0px 120px 0px;
}

.about__img img {
	width: 100%;
	margin: 0px 0px -15px 0px;
}

/* Services */

.services__title {
	margin: 0px 0px 78px 0px;
}

.card {
	display: block;
	max-width: 324px;
	padding: 50px 43px;
	background-color: #FFF;
	text-align: center;
	box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.1);
}

.block__one {
	margin: 0px 0px 33px 0px;
}

.block__two {
	margin: 0px 0px 100px 0px;
}

.card__img {
	width: 63px;
	padding: 0px 0px 33px 0px;
}

.card__title {
	font-size: 19px;
	line-height: 26px;
	font-weight: 900;
	padding: 0px 0px 20px 0px;
}

.card__description {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	letter-spacing: 0.15px;
}

/* Tech */

.tech {
	font-family: 'Poppins', sans-serif;
	background-color: #FFF;
	padding: 10px 38px;
	margin: 0px auto 25px;
}

.tech__title {
	font-weight: 600;
	font-size: 32px;
	line-height: 48px;
	margin: 0px 0px 26px 0px;
}

.tech__subtitle {
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
	margin: 0px 0px 50px 0px;
}

.tech__list, .tech__text {
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
	margin: 0px 0px 25px 0px;
}

.tech__item {
	font-size: 16px;
	font-weight: 600;
	line-height: 26px;
	margin: 40px 0px 40px 0px;
}

.tech__text {
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
}

.tech__text > p {
	margin: 0px 0px 30px 0px;
}

/* Products */

.products {
	font-family: 'Poppins', sans-serif;
	background-color: #FFF;
	max-width: 510px;
	padding: 50px 38px;
}

.img__products {
	margin: 0px 0px 10px 0px;
}

.products .title {
	font-size: 44px;
	font-weight: 500;
	line-height: 58px;
	margin: 0px 0px 25px 0px;
}

.products .text {
	font-size: 18px;
	font-weight: 300;
	line-height: 26px;
}
